@import "_oa";

@media screen and (min-width: $mediaTabletWidth + 1) {

.jj {

  .e_topgray {
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(244, 245, 246, 1.00);

    .e_t01 {
      display: block;
      width: 100%;
      padding: 8px 5px;


      p {
      display: inline-block;
      margin: 0;
      padding: 8px 0;
      text-align: left;
      font-size: .9em;
      color: rgba(97, 102, 106, 1.00);
      font-weight: bolder;
      }

      .e_sebox, .e_sebox02 {
        height: 30px;
        font-size: .9em;
        color: rgba(97, 102, 106, 1.00);
        border: 1px solid rgba(39, 40, 34, 0.25);
        padding: 5px;
        font-weight: bolder;
        background-color: white;
      }

      .e_sebox {
        width: 77%;
      }

      .e_sebox02 {
        width: 65%;
      }
    }

  }

}


.e_cent_boxs {
  width: 100%;
  border-bottom: 1px solid rgba(223, 223, 223, 1.00);

  .e_cent_title {
    width: 100%;
    margin: 0;
    padding: 10px 5px;

    border-bottom: 1px solid rgba(223, 223, 223, 1.00);
    color: rgba(34, 186, 247, 1.00);
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
  }

  .e_cent_checkboxs {
    width: 100%;
    padding: 15px 0;

    @include clearfix();

    > div {
      display: inline-block;
      width: calc(100% / 4);
      padding: 10px 5px;
      float: left;


      label {
        display: inline-block;
        margin: 10px;
        position: relative;

        font-size: .9em;
        line-height: 1.5em;
        color: rgba(79, 87, 97, 1.00);

        input[type='checkbox'] {
          // display: none;
          position: absolute;
          @include opacity(0);

          &:checked {
            + span {
              &:after {
                background-color: rgba(31, 187, 252, 1.00);
              }
            }
          }
        }
        &:hover {
          span {
            &:after {
              background-color: rgba(104, 172, 206, 1.00);
            }
          }
        }

        span {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: white;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            // bottom: 0;
            // right: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            border: 3px solid rgba(214, 214, 214, 1.00);
            @include border-radius(50%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            @include border-radius(50%);
            background-color: white;
            @include transition(background-color .3s);
          }
        }
      }




    }
  }
}


.e_allboxs {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(223, 223, 223, 1.00);

  @include split-left(70%, '.e_left', '.e_right');

  .e_left {
    padding: 10px 5px;
    label {
        display: inline-block;
        margin: 10px;
        position: relative;

        font-size: .9em;
        line-height: 1.5em;
        color: rgba(79, 87, 97, 1.00);

        input[type='checkbox'] {
          // display: none;
          position: absolute;
          @include opacity(0);

          &:checked {
            + span {
              &:after {
                background-color: rgba(31, 187, 252, 1.00);
              }
            }
          }
        }
        &:hover {
          span {
            &:after {
              background-color: rgba(104, 172, 206, 1.00);
            }
          }
        }

        span {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: white;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            // bottom: 0;
            // right: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            border: 3px solid rgba(214, 214, 214, 1.00);
            @include border-radius(50%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            @include border-radius(50%);
            background-color: white;
            @include transition(background-color .3s);
          }
        }
      }
  }

  .e_right {
    padding: 10px 5px;

    button {
      width: 100%;
      padding: 10px 35px;
      font-size: 1em;
      color: white;
      font-weight: bolder;
      background-color: rgba(147, 160, 166, 1.00);
      @include border-radius(5px);
      border: 0;

      // &.jc02 {
      //   padding: 8px 35px;
      // }

      &:hover {
        background-color: rgba(93, 162, 198, 1.00);
      }
    }
  }
}


.e_table_boxs {
  width: 100%;
  padding: 20px 0;

  .table {
    display: table;
    width: 100%;

    .tr {
      display: table-row;
      @include clearfix();

      .td {
        display: table-cell;
        border-bottom: 2px solid rgba(201, 210, 215, 1.00);
        border-left: 2px solid rgba(201, 210, 215, 1.00);

        &.w1 {
          width: 35%;
          background-color: rgba(244, 244, 244, 1.00);
        }
        &.w2 {
          width: 25%;
        }
        &.w3 {
          width: 10%;
          background-color: rgba(244, 244, 244, 1.00);
        }
        &.w4 {
          width: 30%;
        }

        &:last-child {
        border-right: 2px solid rgba(201, 210, 215, 1.00);
        }

        p.e_down_text {
          display: inline-block;
          cursor: pointer;
          padding: 15px 10px;
          margin: 0;

          color: rgba(79, 87, 97, 1.00);
          font-size: .9em;

          &:hover {
            color: rgba(32, 187, 252, 1.00);
            text-decoration: underline;
          }
        }

        p {
          display: inline-block;
          padding: 15px 10px;
          margin: 0;

          color: rgba(79, 87, 97, 1.00);
          font-size: .9em;
        }

      }

      &:first-child { // 第一行的 tr

        .td {
          position: relative;

          &:before {
            content: attr(title);
            display: inline-block;
            width: 100%;
            border-top: 2px solid rgba(201, 210, 215, 1.00);
            border-bottom: 2px solid rgba(201, 210, 215, 1.00);

            color: rgba(79, 87, 97, 1.00);
            font-size: 1em;
            font-weight: bolder;
            text-align: center;

            padding: 10px 0;
          }
        }
      }
    }
  }
}



}


