@import "_oa";



@media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {

  $maxhight: 300px;
  $minhight: 265px;



  .cb {
    padding: 0 !important;

    .stwo {
      height: 100%;
      margin: 10px;

      background-color: rgba(247, 241, 242, 1.00);
      &.s {
        .lbr {

          &:after {
            @include icomoon-font('icomoon') {
              content: "\e903";
              color: rgba(34, 161, 229, 1.00);
            }
          }
        }
        .rbn {
          display: inline-block;
        }
      }
      .lbr {
        position: relative;
        display: inline-block;
        width: 100%;

        > span {
          display: inline-block;
          padding: 10px;
          font-size: .9em;
          font-weight: bold;
          width: 100%;
        }

        &:after {
          position: absolute;
          right: 10px;
          top: 10px;

          @include icomoon-font('icomoon') {
            content: "\e900";
            display: inline-block;
          };
        }
      }

      .rbn {
        display: none;
        // padding-right: 10px;
        background-color: rgba(254, 255, 255, 1.00);

        > div {
          float: left;
          width: calc(100% / 2);
          min-height: $minhight;
          height: 310px;
          padding: 10px 0;

          .imbox {
            width: 100%;
            height: 150px;
            line-height: 150px;
            text-align : center;

            border: 1px solid rgba(241, 242, 243, 1.00);

            img {
              padding: 5px;
              vertical-align : middle;
              max-height: 150px;
              max-width: 100%;
            }
          }

          > span {
            display: inline-block;
            width: 100%;

            padding: 5px 0;

            > p {
              margin: 0;
              padding: 3px 0;

              word-wrap:break-word;
              font-size: .9em;
              line-height: 1.4em;
              color: rgba(159, 163, 164, 1.00);

              &.c {
                height: 85px;
                font-weight: bold;
                color: rgba(34, 49, 60, 1.00);
              }
            }
          }

          &:nth-child(2n+1) {
            padding-right: 10px;
          }

          a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            // margin-top: 10px;

            font-size: 1em;
            font-weight: bold;
            color: #fff;
            background:rgba(147, 160, 166, 1.00);
            text-align: center;
            text-decoration: none;

            @include border-radius(3px);

            &:hover {
              background:rgba(103, 172, 208, 1.00);
            }

            &:before {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .sthree {
      width: calc(100% / 1);
      float: left;
      min-height: $minhight;
      max-height: $maxhight;
      padding: 10px;

      .imbox {
        height: 100%;

        line-height: 160px;
        text-align : center;

        // background: rgba(241, 242, 243, 1.00);
        border: 1px solid rgba(241, 242, 243, 1.00);

        iframe {
          height: auto;
          max-width: 100%;
          padding: 5px;
          vertical-align : middle;
        }
      }

      > span {
        display: inline-block;
        width: 100%;

        padding: 5px 0;

        > p {
          margin: 0;
          padding: 3px 0;

          word-wrap:break-word;
          font-size: 1em;
          line-height: 1.4em;
          color: rgba(159, 163, 164, 1.00);

          &.c {
            font-weight: bold;
            color: rgba(34, 49, 60, 1.00);
          }
        }

      }

      a {
          display: inline-block;
          width: 100%;
          padding: 10px;
          margin-top: 10px;

          font-size: 1em;
          font-weight: bold;
          color: #fff;
          background:rgba(147, 160, 166, 1.00);
          text-align: center;
          text-decoration: none;

          @include border-radius(3px);

          &:hover {
            background:rgba(103, 172, 208, 1.00);
          }

          &:before {
            display: inline-block;
            margin-right: 10px;
          }

        }

    }

    .sfour {
      float: left;
      width: calc(100% / 1);
      height:180px;
      padding: 10px;
      .icon-mail {
        @include clearfix();
        &:before {
          float: left;
        }
        a {
          float: left;
        }
      }
      span {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;

        font-size: 1em;
        // font-weight: bold;
        color: white;
        background:rgba(78, 88, 98, 1.00);
        border-left: 5px solid rgba(34, 186, 247, 1.00);
      }

      > div {
        display: inline-block;
        width: calc(100% - 5px);
        margin: 5px 0 0 5px;
        padding: 5px 20px;

        font-size: 1em;
        // font-weight: bold;
        color: rgba(137, 143, 149, 1.00);
        background:rgba(239, 240, 241, 1.00);

        &:before {
          display: inline-block;
          margin-right: 10px;
        }

        a {
          font-size: 1em;
          // font-weight: bold;
          color: rgba(137, 143, 149, 1.00);
          text-decoration: none;

          &:hover {
            color: rgba(34, 186, 247, 1.00);
          }
        }

      }

    }

    .sfive {
      float: left;
      width: 100%;
      height:100%;
      padding: 10px;
    }


    // s04+s03
    .jj {
      width: 100%;
      padding: 10px;

      .jb {
        display: block;
        background-color: rgba(244, 245, 246, 1.00);
        margin-bottom: 5px;

        .jbs {
          width: 100%;
          margin: 0 auto;
          padding: 15px 15px;

          &.s03b {
            padding: 15px 15px;
            height: auto;
          }

          @include clearfix();

          .ja {
            float: left;
            width: 100%;
            height: auto;
            padding: 5px 0;

            p {
              margin: 0;
              padding: 0;
              text-align: left;
              font-size: .9em;
              color: rgba(97, 102, 106, 1.00);
              font-weight: bolder;
            }

            .pp01 {
              padding-top: 8px;
            }

            select {
              width: calc(100% - 5px * 2);
              
              &:not(.ori) {
                margin: 10px 0;
                height: 30px;
                border: 1px solid rgba(39, 40, 34, .25);
                padding: 5px;
                font-size: 13px;
                @include border-radius (2px);
              }
            }

          }

          .jbb {
            float: left;
            width: 100%;
            height: auto;
            padding: 5px 0;

            &.jb01 {
              padding: 0;
              height: auto;
              margin: 10px 0;
            }

            @include clearfix();

            input {
              float: left;
              width: 100%;
              &:not(.ori) {
                height: 30px;
                padding: 0;
                margin: 0;
                margin-top: 3px;
                border: 0;
              }
            }

            .si01 {
              float: left;
              width: 100%;
              &:not(.ori) {
                padding: 0;
                margin: 0;
                border: 0;
              }
            }

            .si02 {
              display: inline-block;
              float: left;
              width: 40%;
              padding: 0;
              margin: 0;
              border: 0;
              margin-right: 10px;
            }

            span {
              float: left;
              display: inline-block;
              padding: 0 10px;
              font-size: .9em;
              color: rgba(97, 102, 106, 1.00);
            }

            p {
              float: left;
              margin: 0;
              padding: 5px 0;
              width: 100%;
              font-size: .8em;
              color: rgba(97, 102, 106, 1.00);
              padding-top: 8px;
            }

            .too {
              display: inline-block;
              width: 10%;
              float: left;
              margin: 0;
              padding: 8px 10px;
            }

          }

          .jc {
            float: left;
            width: 100%;
            height: auto;
            padding-top: 6px;

            &.jc01 {
              padding: 0;
              height: auto;
            }

            button {
              &:not(.ori) {
                width: 100%;
                padding: 10px 0;
                font-size: 1em;
                color: white;
                font-weight: bolder;
                background-color: rgba(147, 160, 166, 1.00);
                @include border-radius(5px);
                border: 0;

                &.jc02 {
                  padding: 8px 35px;
                }

                &:hover {
                  background-color: rgba(93, 162, 198, 1.00);
                }
              }
            }
          }


          p {
            margin: 0;
            padding: 0 20px;
            font-size: .8em;
            line-height: 1.4em;
            color: rgba(130, 130, 130, 1.00);
          }
        }
      }

      .jt {
        width: 100%;
        padding-top: 20px;

        .jtb {
          width: 100%;
          margin: 0 auto;
          padding-bottom: 30px;

          @include clearfix();

          p {
            float: left;
            display: block;
            width: 100%;
            margin: 0;
            font-size: .9em;
            line-height: 1.6em;
            color: rgba(2, 167, 249, 1.00);
            font-weight: bolder;
          }

          .jpt {
            float: left;
            display: block;
            width: 100%;
            line-height: 1.6em;
            font-size: .9em;
            color: rgba(117, 121, 126, 1.00);
          }
        }
      }
    }
  }
}


$border_color: rgba(220, 228, 232, 1.00);
@media screen and (min-width: $mediaTabletWidth + 1) {

  $bigwidth: 1000px;
  $maxhight: 265px;
  $minhight: 265px;

  .cb {
    .stwo {
      width: 100%;
      height: 100%;
      margin: 0 0 10px 10px;

      background-color: rgba(247, 241, 242, 1.00);

      @include split-left(18%, '.lbr', '.rbn');

      .lbr {

        > span {
          display: inline-block;
          padding: 20px 0 0 10px;
          font-size: .9em;
          font-weight: bold;
        }

      }

      .rbn {
        padding-right: 10px;
        background-color: rgba(254, 255, 255, 1.00);

        > div {
          float: left;
          width: calc(100% / 3);
          min-height: $minhight;
          height: 265px;
          padding: 0 10px 10px 10px;

          .imbox {
            width: 100%;
            height: 150px;
            line-height: 150px;
            text-align : center;

            // background: rgba(241, 242, 243, 1.00);
            border: 1px solid rgba(241, 242, 243, 1.00);

            img {
              padding: 5px;
              vertical-align : middle;
              max-height: 150px;
              max-width: 100%;
            }
          }

          > span {
            display: inline-block;
            width: 100%;

            padding: 5px 0;

            > p {
                margin: 0;
                padding: 3px 0;
                word-wrap: break-word;
                font-size: .9em;
                line-height: 1.4em;
                color: #9fa3a4;

              &.c {
                font-size: .8em;
                height: 55px;
                font-weight: bold;
                color: #22313c
              }
            }
          }

          a {
              display: inline-block;
              width: 20%;
              padding: 8px;
              margin-top: 5px;

              font-size: .9em;
              font-weight: bold;
              color: #fff;
              background:rgba(147, 160, 166, 1.00);
              text-align: center;
              text-decoration: none;

              @include border-radius(3px);

              &:hover {
                background:rgba(103, 172, 208, 1.00);
              }

              &:before {
                display: inline-block;
                // margin-right: 10px;
              }
            }
        }
      }
    }

    .sthree {
      width: calc(100% / 3);
      float: left;
      min-height: $minhight;
      max-height: $maxhight;
      padding: 10px;

      .imbox {
        width: 100%;
        height: 100%;

        line-height: 160px;
        text-align : center;

        // background: rgba(241, 242, 243, 1.00);
        border: 1px solid rgba(241, 242, 243, 1.00);

        iframe {
          height: auto;
          max-width: 100%;
          padding: 5px;
          vertical-align : middle;
        }
      }

      > span {
        display: inline-block;
        width: 100%;

        padding: 5px 0;

        > p {
          margin: 0;
          padding: 3px 0;

          word-wrap:break-word;
          font-size: .8em;
          line-height: 1.4em;
          color: rgba(159, 163, 164, 1.00);

          &.c {
            font-weight: bold;
            color: rgba(34, 49, 60, 1.00);
          }
        }

      }

      a {
          display: inline-block;
          width: 18%;
          padding: 8px;
          margin-top: 5px;
          font-size: .9em;
          font-weight: bold;
          color: #fff;
          background: #93a0a6;
          text-align: center;
          text-decoration: none;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          // display: inline-block;
          // width: 100%;
          // padding: 10px;
          // margin-top: 10px;

          // font-size: 1em;
          // font-weight: bold;
          // color: #fff;
          // background:rgba(147, 160, 166, 1.00);
          // text-align: center;
          // text-decoration: none;

          @include border-radius(3px);

          &:hover {
            background:rgba(103, 172, 208, 1.00);
          }

          &:before {
            display: inline-block;
            // margin-right: 10px;
          }

        }

    }

    .sfour {
      float: left;
      width: calc(100% / 2);
      height:180px;
      padding: 10px;
      .icon-mail {
        @include clearfix();
        &:before {
          float: left;
        }
        a {
          float: left;
        }
      }
      span {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;

        font-size: 1em;
        // font-weight: bold;
        color: white;
        background:rgba(78, 88, 98, 1.00);
        border-left: 5px solid rgba(34, 186, 247, 1.00);
      }

      > div {
        display: inline-block;
        width: calc(100% - 5px);
        margin: 5px 0 0 5px;
        padding: 5px 20px;

        font-size: .9em;
        // font-weight: bold;
        color: rgba(137, 143, 149, 1.00);
        background:rgba(239, 240, 241, 1.00);

        &:before {
          display: inline-block;
          margin-right: 10px;
        }

        a {
          font-size: 1em;
          // font-weight: bold;
          color: rgba(137, 143, 149, 1.00);
          text-decoration: none;

          &:hover {
            color: rgba(34, 186, 247, 1.00);
          }
        }

      }

    }

    .sfive {
      float: left;
      width: 100%;
      height:100%;
      padding: 10px;

    }

    // s04+s03
    .jj {
      width: 100%;
      padding: 10px;

      .jb {
        display: block;
        // background-color: rgba(244, 245, 246, 1.00);
        margin-bottom: 5px;

        .jbs {
          width: 100%;
          margin: 0 auto;
          padding: 30px 10px 30px 10px;

          &.s03b {
            padding: 10px 0;
            height: 55px;
          }

          @include clearfix();

          .ja {
            float: left;
            width: 25%;
            height: 50px;
            padding-right: 5px;

            p {
              padding-top: 15px;
              text-align: right;
              font-size: .9em;
              color: rgba(97, 102, 106, 1.00);
              font-weight: bolder;
            }

            .pp01 {
              padding-top: 8px;
            }

            select {
              width: calc(100% - 5px * 2);
              &:not(.ori) {
                margin: 0 5px;
                height: 30px;
                border: 1px solid rgba(39, 40, 34, .25);
                padding: 5px;
                font-size: 13px;
                @include border-radius (2px);
              }
            }
          }

          .jbb {
            float: left;
            width: 55%;
            height: 50px;
            padding-top: 8px;

            &.jb01 {
              padding: 0;
              height: auto;
            }

            @include clearfix();

            input {
              float: left;
              width: 100%;

              &:not(.ori) {
                height: 30px;
                padding: 0 5px;
                margin: 0;
                margin-top: 3px;
                // border: 1px solid rgba(244, 245, 246, 1.00);
              }
            }

            .si01 {
              float: left;
              width: 100%;

              &:not(.ori) {
                padding: 0 5px;
                margin: 0;
                // border: 1px solid rgba(244, 245, 246, 1.00);
              }
            }

            .si02 {
              display: inline-block;
              float: left;
              width: 40%;
              padding: 0 5px;
              margin: 0;
              // border: 1px solid rgba(244, 245, 246, 1.00);
              margin-right: 10px;
            }

            span {
              float: left;
              display: inline-block;
              padding: 0 10px;
              font-size: .9em;
              color: rgba(97, 102, 106, 1.00);
            }

            p {
              margin: 0;
              float: left;
              width: 100%;
              font-size: .8em;
              color: rgba(97, 102, 106, 1.00);
              padding-top: 8px;
            }

            .too {
              display: inline-block;
              width: 10%;
              float: left;
              margin: 0;
              padding: 8px 10px;
            }

          }

          .jc {
            float: left;
            width: 20%;
            height: 50px;
            padding-left: 10px;
            padding-top: 6px;

            &.jc01 {
              width: 20%;
              padding: 0;
              height: auto;
            }

            button {
              &:not(.ori) {
                padding: 10px 35px;
                font-size: 1em;
                color: white;
                font-weight: bolder;
                background-color: rgba(147, 160, 166, 1.00);
                @include border-radius(5px);
                border: 0;

                &.jc02 {
                  padding: 8px 35px;
                }

                &:hover {
                  background-color: rgba(93, 162, 198, 1.00);
                }
              }

            }
          }


          p {
            margin: 0;
            padding: 0 20px;
            font-size: .8em;
            line-height: 1.4em;
            color: rgba(130, 130, 130, 1.00);
          }
        }
      }

      .jt {
        width: 100%;
        padding-top: 20px;

        .jtb {
          width: 100%;
          margin: 0 auto;
          padding-bottom: 30px;

          @include clearfix();

          p {
            float: left;
            display: block;
            width: 100%;
            margin: 0;
            font-size: .9em;
            line-height: 1.6em;
            color: rgba(2, 167, 249, 1.00);
            font-weight: bolder;
          }

          .jpt {
            float: left;
            display: block;
            width: 100%;
            line-height: 1.6em;
            font-size: .9em;
            color: rgba(117, 121, 126, 1.00);
          }
        }
      }
    }

  }
}




// table css樣式
@media screen and (min-width: $mediaTabletWidth + 1) {
  $title_height: 50px;
  $cell_height: 40px;
  $stitle_height: 80px;

  .ta {
    display: table;
    width: 100%;
    height: 50px;
   

    .tr {
      display: table-row;
      width: 100%;
      height: 30px;
      background-color: rgba(0, 128, 0, 0.2);

      // p02 table
      > div, .tc {
        display: table-cell;
        width: calc(100% / 2);
        height: $cell_height;
        border: 1px solid rgba(220, 228, 232, 1.00);
        text-align: center;
        background-color: white;
        word-break: break-all;
        line-height: 22px;
        padding: 10px;
        font-size: 13px;

        // 後面是 .tc 的話，設定那個 tc
        + .tc {
          border-left: 0;
        }

        &.t01, &.t02, &.t05, &.t06 {
          width: 10%;
        }

        &.t03, &.t04 {
          width: 30%;
        }
      }


      &:first-child {
        >div, .tc {
          font-size: 13px;
          position: relative;
          padding-top: 63px;
          height: $title_height + $cell_height;

          &:before {
            content: attr(title);
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: $title_height;
            line-height: $title_height - 2px;
            text-align: center;
            border-bottom: 1px solid rgba(220, 228, 232, 1.00);
            background-color: rgba(244, 245, 246, 1.00);
            word-break: break-all;
            padding: 5px;
            font-size: .9em;
            font-weight: bolder;
          }
        }
        >div{
          padding-top: $stitle_height + 10px;
          height: $stitle_height + $cell_height;
          &:before {
            padding-top: 13px;
            height: $stitle_height;
            line-height: 20px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .s03table {
    margin-bottom: 20px;
    border: 1px solid rgba(134, 212, 241, 1.00);
    @include border-radius(3px);

    .tr {
      > div {
        border: 1px solid rgba(134, 212, 241, 1.00);

        &, &:before {
          background-color: rgba(255, 255, 255, 1.00);
        }
        &:nth-child(odd) {
          &, &:before {
            background-color: rgba(233, 249, 254, 1.00);
          }
        }
        &.t01, &.t02, &.t03, &.t04, &.t08, &.t09, &.t10, &.t11, &.t12, &.t13 {
          width: 7%;
        }

        &.t05, &.t06, &.t07,  {
          width: 10%;
        }
      }
      &:first-child {
        >div, .tc {
          &:before {
            font-size: 13px;
            font-weight: bold;
            color: rgba(0, 0, 0, .7);
            padding-top: 10px;
            @include border-top-radius(3px);
            border-bottom: 1px solid rgba(134, 212, 241, 1.00);
          }
        }
      }
    }
  }
}





@media screen and (min-width: 0) and (max-width: $mediaTabletWidth) {
  $title_width: 120px;
  $stitle_width: 180px;
  $height: 35px;

  .ta {
    display: inline-block;
    width: 100%;

    .tr {
      display: inline-block;
      width: 100%;

      > div, .tc {
        position: relative;
        display: inline-block;
        width: 100%;
        min-height: 60px;
        border: 1px solid rgba(134, 212, 241, 1.00);
        border-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        // padding: 10px;
        padding-left: $title_width + 10px;

        font-size: 13px;

        &:last-child {
          border-bottom: 1px solid rgba(134, 212, 241, 1.00);
        }

        + .tc {
          // border-top: 0;
        }

        &:before {
          padding: 0;
          content: attr(title);
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: $title_width;
          height: 100%;
          text-align: left;
          // text-align: center;
          border-right: 1px solid rgba(134, 212, 241, 1.00);
          background-color: rgba(230, 247, 253, 1.00);
          padding-left: 10px;
          padding-top: 10px;
          // padding-bottom: 10px;
          font-size: .9em;
          font-weight: bolder;
        }
      }
      > div {
        padding-left: $stitle_width + 10px;
        &:before {
          width: $stitle_width;
        }
      }

      + div, + .tr {
        margin-top: 10px;
      }
    }
  }


}




