@import "_oa";

@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon', "Roboto", "微軟正黑體", Monaco;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;@include font-smoothing(antialiased);}

.icon-search:before {
    content: "\f02e";
}
.icon-triangle-down:before {
    content: "\f05b";
}


* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

$bigwidth: 1000px;
$footerheight: 70px;
$maxhight: 300px;
$minhight: 265px;

#container {

    > div {
      margin: 0 auto;
      width: $bigwidth;
      height: 100%;
      position: relative;

      z-index: 1;

      @include clearfix();
      @include split-left(18%, '.lb', '.rb');

      .tag {
        display: block;
        width: 100%;
        height: 40px;

        font-size: .8em;
        font-weight: bold;
        line-height: 40px;
        color: rgba(123, 128, 132, 1.00);

        padding-left: 15px;

        a {
          color: rgba(123, 128, 132, 1.00);
          text-decoration: none;

          &:hover {
            color: rgba(26, 152, 245, 1.00);
          }

        }

        .ative {
          color: rgba(26, 152, 245, 1.00);
        }

      }

      .lb {
        float: left;
        margin-bottom: 25px;

        background: #fff;

        border: 1px solid rgba(231, 231, 231, .5);
        @include border-radius(4px);
        overflow: hidden;

        a {
          display: block;
          width: 100%;
          padding: 15px;
          text-decoration: none;
          color: rgba(148, 148, 148, 1.00);
          border-left: 5px solid rgba(148, 148, 148, 1.00);

          &:hover {
            color: rgba(32, 187, 253, 1.00);
            border-left-color: rgba(32, 187, 253, 1.00);
          }

          &.ac {
            color: rgba(32, 187, 253, 1.00);
            border-left-color: rgba(32, 187, 253, 1.00);
          }

          + a {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;

              display: inline-block;
              width: 100%;
              height: 1px;

              background-color: rgba(148, 148, 148, .5500);
            }
          }
        }

      }

      .rb{
        float: left;
        padding-left: 20px;

        @include clearfix();

        #arrow_box  {
          display: inline-block;
          width: 100%;
          min-height: 600px;
          margin-bottom: 25px;
          position: relative;

          background-color: rgba(255, 255, 255, 1.00);
          border: 1px solid rgba(231, 231, 231, .5);

          @include border-radius(4px);

          &:after, &:before {
            right: 100%;
            top: 20px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-right-color: rgba(255, 255, 255, 1.00);
            border-width: 8px;
            margin-top: -8px;
          }
          &:before {
            border-color: rrgba(231, 231, 231, .5);
            border-right-color: rgba(231, 231, 231, .5);
            border-width: 9px;
            margin-top: -9px;
          }

          .tb {
            display: inline-block;
            width: 100%;
            height:50px;
            margin-bottom: 15px;

            border-bottom: 1px solid rgba(225, 229, 230, 1.00);

            span {
              display: inline-block;
              padding: 15px;
              margin-left: 15px;

              border-bottom: 3px solid rgba(216, 3, 5, 1.00);

              font-size: 1em;
              color: rgba(59, 74, 88, 1.00);

            }
          }

          .cb {
            display: inline-block;
            width: 100%;
            height: 100%;

            @include clearfix();

            > div {
              float: left;
              width: calc(100% / 4);
              min-height: $minhight;
              max-height: $maxhight;
              padding: 10px;

              border: 1px solid rgba(255, 0, 0, .3);

              .imbox {
                width: 100%;
                height: 150px;

                border: 1px solid rgba(255, 0, 0, .3);
              }

              > span {
                display: inline-block;
                width: 100%;
                height: 20px;

                font-size: 1em;
                font-weight: bold;
                color: rgba(34, 49, 60, 1.00);
                background-color: rgba(0, 128, 0, 0.2);

                > p {
                  display: inline-block;
                  width: 100%;
                  height: 10px;
                  font-size: 1em;
                  color: rgba(34, 49, 60, 1.00);
                  background-color: rgba(0, 0, 255, 0.2);
                }

              }

              a {
                  display: inline-block;
                  width: 100%;
                  padding: 10px;

                  font-size: 1em;
                  color: #fff;
                  background:rgba(147, 160, 166, 1.00);
                  text-align: center;
                  @include border-radius(3px);

                }
            }
          }
        }
      }

    }
  }
