@import "_oa";

@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon', "Roboto", "微軟正黑體", 'Monaco';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;@include font-smoothing(antialiased);}

.icon-location:before {
  content: "\e907";
}
.icon-chevron-thin-down:before {
    content: "\e900";
}
.icon-chevron-thin-left:before {
    content: "\e901";
}
.icon-chevron-thin-right:before {
    content: "\e902";
}
.icon-chevron-thin-up:before {
    content: "\e903";
}
.icon-log-out:before {
    content: "\e905";
}
.icon-login:before {
    content: "\e906";
}
.icon-mail:before {
    content: "\e904";
}
.icon-move-down:before {
    content: "\f0a8";
}
.icon-search:before {
    content: "\f02e";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-phone:before {
    content: "\e0cd";
}
.icon-list:before {
    content: "\e896";
}
.icon-phone_android:before {
    content: "\e324";
}



* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}


@media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {

  $footerheight: 70px;

  html {
    height: 100%;

    body {
      margin: 0;
      width: 100%;
      height: 100%;
      font-size: medium;
      font-family: "Roboto", "微軟正黑體", Monaco;
      color: rgba(128, 128, 128, 1.00);

      position: relative;
      padding: 0;
      background: #000 url(../img/bg.png) center center fixed no-repeat;
      -moz-background-size: cover;
      background-size: cover;

      @include font-smoothing(antialiased);
    }

    header {
      position: fixed;
      top:0;
      left: 0;

      width: 100%;
      height: 190px;
      background: url(../img/topbg.png) repeat-x;

      z-index: 999;

      > div {
        margin: 0 auto;
        // width: $bigwidth;
        width: 100%;
        height: 100%;

        #top {
          height: 35px;
          background-color: rgba(64, 71, 78, 1.00);
          @include clearfix();

          > div {
            float: right;
            display: inline-block;
            height: 100%;
          }
          .search {
            padding-top: 5px;
            @include split-right(25px, 'input', 'label');

            input {
              background-color: rgba(64, 71, 78, 1.00);
              border-width: 0;
              height: 80%;
              font-size: 16px;
              color: rgba(32, 187, 252, 1.00);

              // &::-webkit-input-placeholder, &::-webkit-input-placeholder {
              //   color: rgba(38, 145, 190, 1.00);
              // }

              &:focus {
                outline: 0;
              }
            }
            label {
              margin-top: 4px;
              text-align: center;
              border-left: 1px solid rgba(128, 128, 128, .700);
              cursor: pointer;

              &:before {
                display: inline-block;
              }
            }
          }
          .lang {
            position: relative;
            width: 100px;
            text-align: center;

            span {
              color: white;
              display: inline-block;
              width: 100%;
              height: 100%;
              padding-top: 7px;
              color: rgba(32, 187, 252, 1.00);
            }
            > div {
              display: none;
            }

            &:hover {
              > div {
                position: absolute;
                top: 35px;
                left: 0;

                display: inline-block;
                width: 100%;
                z-index: 3;
                background-color: rgba(84, 92, 100, 1.00);

                a {
                  display: inline-block;
                  width: 100%;
                  padding: 10px;
                  color: white;
                  cursor: pointer;
                  text-decoration: none;

                  &:hover {
                    background-color: rgba(32, 187, 252, 1.00);
                  }
                }
              }
            }
          }
        }

        #middle {
          height: calc(100% - 35px - 47px);

          @include split-left(40%);
            .r, .l {
              height: 100%;
            }
            .l {
              padding-top: 10px;
              padding-left: 10px;

              img {
                margin-top: 10px;
                height: auto;
                max-width: 100%;
              }
            }

            .r {

              > div {
                float: right;
                height: 100%;
                padding-top: 35px;
                padding-right: 5px;


                @include clearfix();

                > * {
                  display: inline-block;
                  float: right;
                  font-size: 19px;
                  margin: 5px;
                }
                > a {
                  &:nth-child(1) {
                    color: rgba(56, 62, 69, 1.00);
                    max-width: 70px;
                    @include overflow-docx3();
                  }

                  color: rgba(26, 152, 244, 1.00);

                  text-decoration: none;
                  &:hover {
                    color: rgba(26, 152, 244, 1.00);
                  }
                }
              }
            }
        }

        nav {
          height: 57px;
          background-color: rgba(64, 71, 78, 1.00);
          @include clearfix();

          > div {
            float: left;
            position: relative;
            display: inline-block;

            width: calc(100% / 4);
            height: 100%;

            text-align: center;

            span {
              display: inline-block;
              width: 100%;
              height: 100%;

              color: #fff;
              font-size: .9em;
              font-weight: bold;
              line-height: 53px;
              border-bottom: 10px solid rgba(26, 152, 244, 1.00);

              &.bma {
                color: rgba(32, 187, 252, 1.00);
                border-bottom: 10px solid rgba(32, 187, 252, 1.00);
              }
            }

            .list {
              display: none;
            }

            &:hover {
              span {
                color: rgba(26, 152, 244, 1.00);
                border-bottom: 10px solid rgba(31, 187, 252, 1.00);
              }

              .list {
                display: inline-block;
                width: 200%;

                position: absolute;
                left: 0;
                top: 57px;

                > a  {
                  display: inline-block;
                  width: 100%;
                  padding: 15px;

                  background-color: #fff;
                  border-bottom: 1px solid rgba(211, 211, 211, 1.00);

                  font-size: .9em;
                  font-weight: bold;
                  color: rgba(128, 128, 128, 1.00);
                  text-decoration: none;

                  &:hover {
                    color: rgba(32, 187, 252, 1.00);
                  }

                }
              }
            }
            &:nth-child(2), &:nth-child(4) {
              &:hover {
                .list {
                  left: auto;
                  right: 0;
                }
              }
            }

            + div {
              span {
                position: relative;

                &:before {
                  content: '';

                  position: absolute;
                  left: 0;
                  top: 0;

                  display: inline-block;
                  width: 1px;
                  height: 100%;

                  background-color: rgba(89, 100, 113, 1.00);
                }
              }
            }

          }
        }
      }
    }


    #container {
      width: 100%;
      height: 100%;
      padding-top: 180px;

      > div {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: relative;

        z-index: 1;

        #strings {
          position: absolute;
          bottom: 100px;
          right: 20px;

          span {
            display: block;
            text-align: right;

            text-shadow: 2px 2px 3px #434a54;
            font-size: 1.5em;
            color: #fff;
          }

        }
      }
    }

    footer {
      position: absolute;
      bottom: 0px;
      right: 0px;

      width: 100%;
      // height: $footerheight;
      background: rgba(56, 62, 69, 1.00);

      z-index: 2;

      > div {
        margin: 0 auto;
        width: 100%;
        // line-height: $footerheight;

        // font-size: .9em;
        color: #fff;

        // @include split-left(60%, '#fb', '#bb');

        #fb {
          // height: $footerheight;
          // float: left;
          display: inline-block;
          width: 100%;
          padding-left: 10px;

          > * {
            font-size: 13px;
            // line-height: $footerheight / 2.5;
          }
          #cobetype {
            float: left;
            margin-top: 10px;
          }

          #cobemenu {
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;

            > a {
              color: #fff;
              text-decoration: none;

              &:hover {
                color: rgba(27, 152, 245, 1.00);
                text-decoration: underline;
              }
            }

          }
        }

        #bb {
          // height: $footerheight;
          // float: left;

          > a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;

            color: #fff;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 1px 1px 2px #434a54;
            font-size: 18px;

            @include background-image(
              linear-gradient(
                rgba(23, 137, 198, 1.00) 0%,
                rgba(23, 137, 198, 1.00) 50%,
                rgba(35, 164, 231, 1.00) 100%
            ));

            &:hover {

            @include background-image(
              linear-gradient(
                rgba(35, 164, 231, 1.00) 0%,
                rgba(35, 164, 231, 1.00) 50%,
                rgba(23, 137, 198, 1.00) 100%
            ));


            }
          }
        }
      }
    }
  }
  body {

    &.layout2 {
      background: rgba(247, 247, 247, 1.00);

      header {
        position: relative;
        background: url(../img/ctopbg.png) repeat-x;
      }
      #container {
        height: auto;
        padding-top: 0;
      }
      footer {
        position: relative;
      }
    }
    &.layout3 {
      background: rgba(247, 247, 247, 1.00);

      header {
        position: relative;
        background: url(../img/blue_ctopbg.png) repeat-x;
      }
      #container {
        height: auto;
        padding-top: 0;
      }
      footer {
        position: relative;
      }
    }
  }
}


@media screen and (min-width: $mediaTabletWidth + 1px) {

  $bigwidth: 1000px;
  $footerheight: 50px;

  html {
    height: 100%;

    body {
      margin: 0;
      width: 100%;
      height: 100%;
      font-size: medium;
      font-family: "Roboto", "微軟正黑體", Monaco;
      color: rgba(128, 128, 128, 1.00);

      position: relative;
      padding: 0;
      background: #000 url(../img/bg.png) center center fixed no-repeat;
      -moz-background-size: cover;
      background-size: cover;

      @include font-smoothing(antialiased);
    }

    header {
      position: fixed;
      top:0;
      left: 0;

      width: 100%;
      height: 180px;
      background: url(../img/topbg.png) repeat-x;

      z-index: 999;

      > div {
        margin: 0 auto;
        width: $bigwidth;
        height: 100%;

        #top {
          height: 35px;
          background-color: rgba(64, 71, 78, 1.00);
          @include clearfix();

          > div {
            float: right;
            display: inline-block;
            height: 100%;
          }
          .search {
            padding-top: 5px;
            @include split-right(25px, 'input', 'label');

            input {
              background-color: rgba(64, 71, 78, 1.00);
              border-width: 0;
              height: 80%;
              font-size: 16px;
              color: rgba(32, 187, 252, 1.00);

              // &::-webkit-input-placeholder, &::-webkit-input-placeholder {
              //   color: rgba(38, 145, 190, 1.00);
              // }

              &:focus {
                outline: 0;
              }
            }
            label {
              margin-top: 4px;
              text-align: center;
              border-left: 1px solid rgba(128, 128, 128, .700);
              cursor: pointer;

              &:before {
                display: inline-block;
              }
            }
          }
          .lang {
            position: relative;
            width: 100px;
            text-align: center;

            span {
              color: white;
              display: inline-block;
              width: 100%;
              height: 100%;
              padding-top: 7px;
              color: rgba(32, 187, 252, 1.00);
            }
            > div {
              display: none;
            }

            &:hover {
              > div {
                position: absolute;
                top: 35px;
                left: 0;

                display: inline-block;
                width: 100%;
                z-index: 3;
                background-color: rgba(84, 92, 100, 1.00);

                a {
                  display: inline-block;
                  width: 100%;
                  padding: 10px;
                  color: white;
                  cursor: pointer;
                  text-decoration: none;

                  &:hover {
                    background-color: rgba(32, 187, 252, 1.00);
                  }
                }
              }
            }
          }
        }

        #middle {
          height: calc(100% - 35px - 47px);

          @include split-left(217px);
            .r, .l {
              height: 100%;
            }
            .l {
              padding-top: 10px;

              img {
                margin-top: 10px;
                height: auto;
                max-width: 100%;
              }
            }

            .r {

              > div {
                float: right;
                width: 50%;
                height: 100%;
                padding-top: 35px;


                @include clearfix();

                > * {
                  display: inline-block;
                  float: right;
                  font-size: 20px;
                  margin: 5px;
                }
                > a {
                  cursor: pointer;
                  &:nth-child(1) {
                    color: rgba(56, 62, 69, 1.00);
                  }

                  color: rgba(26, 152, 244, 1.00);

                  text-decoration: none;
                  &:hover {
                    color: rgba(26, 152, 244, 1.00);
                  }
                }
              }
            }
        }

        nav {
          height: 57px;
          background-color: rgba(64, 71, 78, 1.00);
          @include clearfix();

          > div {
            float: left;
            position: relative;
            display: inline-block;

            width: calc(100% / 4);
            height: 100%;

            text-align: center;

            span {
              display: inline-block;
              width: 100%;
              height: 100%;

              color: #fff;
              font-size: 1em;
              font-weight: bold;
              line-height: 53px;
              border-bottom: 10px solid rgba(26, 152, 244, 1.00);

              &.bma {
                color: rgba(32, 187, 252, 1.00);
                border-bottom: 10px solid rgba(32, 187, 252, 1.00);
              }
            }

            .list {
              display: none;
            }

            &:hover {
              span {
                color: rgba(26, 152, 244, 1.00);
                border-bottom: 10px solid rgba(31, 187, 252, 1.00);
              }

              .list {
                display: inline-block;
                width: 100%;

                position: absolute;
                left: 0;
                top: 57px;

                > a  {
                  float: left;
                  display: inline-block;
                  width: 100%;
                  padding: 15px;

                  background-color: #fff;
                  border-bottom: 1px solid rgba(211, 211, 211, 1.00);

                  font-size: .9em;
                  font-weight: bold;
                  color: rgba(128, 128, 128, 1.00);
                  text-decoration: none;

                  &:hover {
                    color: rgba(32, 187, 252, 1.00);
                  }

                }
              }
            }

            + div {
              span {
                position: relative;

                &:before {
                  content: '';

                  position: absolute;
                  left: 0;
                  top: 0;

                  display: inline-block;
                  width: 1px;
                  height: 100%;

                  background-color: rgba(89, 100, 113, 1.00);
                }
              }
            }

          }
        }
      }
    }


    #container {
      width: 100%;
      height: 100%;
      padding-top: 180px;

      > div {
        margin: 0 auto;
        width: $bigwidth;
        height: 100%;
        position: relative;

        z-index: 1;

        #strings {
          position: absolute;
          bottom: 90px;
          right: 0px;

          span {
            display: block;
            text-align: right;

            text-shadow: 2px 2px 3px #434a54;
            font-size: 3em;
            color: #fff;
          }

        }
      }
    }


    footer {
      position: absolute;
      bottom: 0px;
      right: 0px;

      width: 100%;
      height: $footerheight;
      background: rgba(56, 62, 69, 1.00);

      z-index: 2;

      > div {
        margin: 0 auto;
        width: $bigwidth;
        line-height: $footerheight;

        font-size: .9em;
        color: #fff;

        @include split-left(80%, '#fb', '#bb');

        #fb {
          height: $footerheight;
          float: left;

          @include split-left(62%, '#cobetype', '#cobemenu');

          #cobetype {
            float: left;
          }

          #cobemenu {
            float: left;

            > a {
              color: #fff;
              text-decoration: none;

              &:hover {
                color: rgba(27, 152, 245, 1.00);
                text-decoration: underline;
              }
            }

          }
        }

        #bb {
          height: $footerheight;
          float: left;

          > a {
            display: block;
            width: 100%;
            height: 100%;

            color: #fff;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 1px 1px 2px #434a54;

            @include background-image(
              linear-gradient(
                rgba(23, 137, 198, 1.00) 0%,
                rgba(23, 137, 198, 1.00) 50%,
                rgba(35, 164, 231, 1.00) 100%
            ));

            &:hover {

            @include background-image(
              linear-gradient(
                rgba(35, 164, 231, 1.00) 0%,
                rgba(35, 164, 231, 1.00) 50%,
                rgba(23, 137, 198, 1.00) 100%
            ));


            }
          }
        }
      }
    }
  }

  body {

    &.layout2 {
      background: rgba(247, 247, 247, 1.00);

      header {
        position: relative;
        background: url(../img/ctopbg.png) repeat-x;
      }
      #container {
        height: auto;
        padding-top: 0;
      }
      footer {
        position: relative;
      }
    }
    &.layout3 {
      background: rgba(247, 247, 247, 1.00);

      header {
        position: relative;
        background: url(../img/blue_ctopbg.png) repeat-x;
      }
      #container {
        height: auto;
        padding-top: 0;
      }
      footer {
        position: relative;
      }
    }
  }
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  @for $i from 0 through 100 {
    &.n#{$i} {
      > div:nth-child(2) {
        > div {
          a {
            &:nth-child(#{$i + 1}) {
              background-color: rgba(32, 187, 252, 1.00);
            }
          }
        }
      }
      > div:nth-child(1) {
        > div {

          @for $j from 1 through 100 {
            &:nth-child(#{$j}) {
              left: calc(100% * #{$j - 1 - $i});
            }
          }
        }
      }
    }
  }

  > div:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 80px;
    @media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
      bottom: 100px;
    }
    display: inline-block;
    width: 100%;
    text-align: center;

    > div {
      display: inline-block;
      @include clearfix();
      > a {
        float: left;
        margin: 5px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: rgba(167, 177, 180, 1.00);
        cursor: pointer;
        border: 1px solid rgba(56, 62, 69, .200);
        @include border-radius(50%);

        &.a, &:hover {
          background-color: rgba(32, 187, 252, 1.00);
        }
      }
    }
  }
  > div:nth-child(1) {
    display: inline-block;
    width: 100% * 100;
    height: 100%;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      @include transition(left .3s);


      @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
          left: calc(100% * #{$i - 1});
        }
      }
    }
  }
}