@import "_oa";

$bigwidth: 1000px;
$footerheight: 70px;
$maxhight: 300px;
$minhight: 265px;

#container {

  > div {
    margin: 0 auto;
    width: $bigwidth;
    height: 100%;
    position: relative;

    z-index: 1;

    .tag {
      display: block;
      width: 100%;
      height: 40px;

      font-size: .8em;
      font-weight: bold;
      line-height: 40px;
      color: rgba(123, 128, 132, 1.00);

      padding-left: 15px;

      a {
        color: rgba(123, 128, 132, 1.00);
        text-decoration: none;

        &:hover {
          color: rgba(26, 152, 245, 1.00);
        }
      }

      .ative {
        color: rgba(26, 152, 245, 1.00);
      }
    }
    form {
      margin-bottom: 30px;
      border: 1px solid rgba(39, 40, 34, .1500);
      background-color: white;
      overflow: hidden;
      padding: 40px 100px;
      @media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
        padding: 40px;
        margin: 10px;
      }
      @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
        padding: 20px 15px;
      }

      @include border-radius(2px);
      @include box-shadow(0 0 10px rgba(39, 40, 34, .100));

      .btns {
        margin-top: 40px;
        text-align: center;

        > div {
          display: inline-block;
          margin: 0 auto;
          @include clearfix();

          button {
            float: left;
            @include button('c1');
            &:first-child {
            }
            &:last-child {
              margin-left: 10px;
            }
            &:active {
              @include button('c2');
              &:last-child {
                margin-left: 10px;
              }
            }
            padding: 10px 50px !important;
          }
        }
      }
      > span {
        line-height: 23px;
        @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
          font-size: 14px;
        }
        b {
          color: red;
        }
      }
      .area {
        margin-top: 25px;
        .title {
          color: rgba(65, 159, 240, 1.00);
          position: relative;
          height: 50px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: rgba(65, 159, 240, .700);
            z-index: 1;
          }
          &:after {
            content: attr(title);
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            padding: 15px;
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              padding: 15px;
              padding-left: 0;
              padding-right: 10px;
            }
            background-color: rgba(255, 255, 255, 1.00);
            z-index: 2;
          }
        }
        .row {
          + .row {
            margin-top: 15px;
          }
          p {
            display: inline-block;
            margin: 0;
            padding: 0;
          }

          &.n2 {
            @media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
              > * {
                &:last-child {
                  margin-top: 15px;
                }
              }
            }
            @media screen and (min-width: #{$mediaTabletWidth + 1px}) {
              @include clearfix();
              > * {
                width: calc(50% - 5px);
                display: inline-block;

                &:first-child {
                  float: left;
                }
                &:last-child {
                  float: right;
                }
              }
            }
          }

          span {
            display: inline-block;
            text-align: right;
            width: 150px;
            font-size: 14px;
            padding-right: 10px;

            &.required {
              &:before {
                content: "*";
                color: rgba(247, 53, 100, 1.00);
                margin-right: 2px;
                font-weight: bold;
                padding-top: 2px;
                display: inline-block;
              }
            }
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              width: 100%;
              text-align: left;
              padding-left: 5px;
            }
          }

          input[type='text'] {
            @include input;
            width: calc(100% - 150px);
          }
          select {
            width: calc(100% - 150px);
            border: 1px solid rgba(39, 40, 34, .25);
            padding: 5px;
            font-size: 16px;
            height: 28px;
            @include border-radius (2px);
          }
          .tip {
            margin-top: 10px;
            padding-left: 150px;
            color: rgba(248, 146, 167, 1.00);
            font-size: 13px;
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              padding-left: 5px;
              width: 100%;
            }
          }
          input[type='text'], select, p {
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              width: calc(100% - 5px) !important;
              margin-left: 5px;
              margin-top: 5px;
            }
          }
          &.nc {
            @include clearfix();
            
            span {
              float: left;
              width: 250px;
            }
            div {
              float: right;
              display: inline-block;
              width: calc(100% - 250px);
              @include clearfix();

              label {
                float: left;
                display: inline-block;
                width: 50%;
                @include clearfix();
                
                + label {
                  margin-top: 10px;
                }
                input {
                  float: left;
                  width: 25px;
                  padding: 0;
                  margin: 0;
                  margin-top: 3px;
                }
                > p {
                  float: right;
                  width: calc(100% - 25px) !important;
                  margin: 0;
                  padding: 0;
                  display: inline-block;
                }
              }
            }
            @media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
              span {
                width: 100%;
                text-align: left;
                padding-left: 30px;
                font-size: 16px;
                br {
                  display: none;
                }
              }
              div {
                width: 100%;
                padding-left: 30px;
                margin-top: 10px;
                label {
                  width: calc(50% - 10px) !important;
                  margin: 5px !important;
                  min-width: 250px;
                }
              }
            }
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              span {
                padding-left: 5px;
              }
              div {
                padding-left: 5px;
                label {
                  width: 100% !important;
                }
              }
            }
          }
          &.nl {
            span {
              width: 250px;
            }
            select {
              width: calc(100% - 250px);
            }
            @media screen and (min-width: 0px) and (max-width: $mediaTabletWidth) {
              span {
                width: 100%;
                text-align: left;
                padding-left: 30px;
              }
              select {
                width: calc(100% - 40px);
                margin-left: 40px;
                margin-top: 10px;
              }
            }
            @media screen and (min-width: 0px) and (max-width: #{500px - 1px}) {
              span {
                padding-left: 5px;
              }
              select {
                width: calc(100% - 10px);
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
