@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?7fq9k7');
    src:    url('fonts/icomoon.eot?7fq9k7#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?7fq9k7') format('truetype'),
        url('fonts/icomoon.woff?7fq9k7') format('woff'),
        url('fonts/icomoon.svg?7fq9k7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
    content: "\e900";
}
.icon-chevron-thin-left:before {
    content: "\e901";
}
.icon-chevron-thin-right:before {
    content: "\e902";
}
.icon-chevron-thin-up:before {
    content: "\e903";
}
.icon-mail:before {
    content: "\e904";
}
.icon-move-down:before {
    content: "\f0a8";
}
.icon-search:before {
    content: "\f02e";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-phone:before {
    content: "\e0cd";
}
.icon-phone_android:before {
    content: "\e324";
}

